
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=El+Messiri&family=Josefin+Sans:wght@200;400&family=Lobster&family=Roboto&family=Ubuntu:wght@300&family=Varela+Round&family=Zen+Loop&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
  text-align: center;
}
:root{
  --pink:rgb(226, 17, 122);
}
body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  min-height: 100vh;
}
body::-webkit-scrollbar{
  display: none;
}
header{
  background-color:var(--pink) ;
  height: 80px;
  color: white;
  display: flex;
  padding-left: 20px;
  width: 100%;
  font-size: 34px;
  overflow-x: hidden;
  align-items: center;
}

footer{
  background-color: var(--pink);
  height: 60px;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 0px 20px;
  width: 100%;
  overflow-x: hidden;
  
}
main{
  min-height: calc(100vh - 200px);
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  background-color: #d3a2c84f;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 0px;
  
  
}
#logo{
  height: 40px;
  width: 40px;
  display: none;
}
#imagearea{
  background-color: aqua;
}
.content{
  text-align: center;
  background-color: white;
  overflow: hidden;
  height: 340px;
  width: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
}
caption{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pink);
  font-weight: bold;
  height: 15%;
}

nav{
  height: 60px;
  /* border-bottom: 1px solid gainsboro; */
  display: flex;
  align-items: center;
  padding: 0px 10px;
  overflow-x: auto;
  z-index: 2;
  background-color: white;
  width: 100%;
  overflow-x: auto;
}
img{
  height: 85%;
  width: 100%;
  object-fit: cover;
}
nav::-webkit-scrollbar{
  display: none;
}
.box{
  height: 40px;
  min-width: fit-content;
  background-color: transparent;
  border: 1px solid rgb(128, 128, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-right: 10px;
  text-transform: capitalize;
  font-size: 16px;
  color: rgb(77, 77, 77);
  width: auto;
  cursor: pointer;
  
}
.inactive{
  transition: 0.3s;
}
.inactive:hover{
  color: rgb(255, 97, 158);
  border-color: rgb(255, 97, 158);
  
}
#fade{
  height: 50px;
  width: 100px;
  background:linear-gradient(to right,rgba(255, 255, 255, 0.192),rgba(255, 255, 255, 0.479) 40%,rgb(255, 255, 255) 50%);
  position: fixed;
  top: 88px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 10px;
}
#fade span{
  color: var(--pink)!important;
  height: 30px;
}
.box span{
  margin: 0px 20px;
}
.active{
  border: none;
  background-color: var(--pink);
  color: white;
}
@media (max-width: 720px){
  .content{
    margin: 20px;
    text-align: center;
    background-color: white;
    overflow: hidden;
    height: 250px;
    width: 250px;
  }
  
}
@media (max-width: 620px){
  .content{
    margin: 20px;
    
    text-align: center;
    background-color: white;
    overflow: hidden;
    height: 220px;
    width: 220px;
  }
  
}
@media (max-width: 560px){
  main{
    padding: 10px;
  }
  .content{
    margin: 10px auto;
    text-align: center;
    background-color: white;
    overflow: hidden;
    height: 80vw;
    width: 90vw;
  }
  #logo{
    display: block;
  }
  header span{
    display: none;
  }
  
}
